<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
    <title>Mars_Info</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="Assets/html_style.css">

</head>
<body>
	<div class= 'container-fluid'>
		<div class= 'jumbotron text-center'>
			<header class="header">
				<h1> Latest Mars Info</h1>
			</header>
			<p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Mars Data!</a></p> 
		</div>

		<div class = 'row'>
			<div class= 'col-md-12'>
				<h2>{{mars_info.news_title}}</h2>
				<p>{{mars_info.news_p}}</p>
			</div>
		</div>
		<div class = 'row'>
			<div class= "col-md-7">
				<header class="header">
					<h2> Featured Mars Image</h2>
				</header>
				<img src="{{mars_info.featured_image_url}}" alt=featured_img>
			</div>
			<div class= 'row'>
	 			<div class = col-md-5>
	 				<table class= 'table'>
	 					{{mars_info.mars_facts}}
	 				</table>
	 			</div>
	 		</div>
		</div>
<!-- 
		<div class= 'row'>
			<div class= 'col-md-12'>
				{% for hemisphere, hemisphere_img_urls in mars_info.items() %}
				{ {hemisphere}}: {{hemisphere_img_urls}}
				{% end for %}
			</div> -->
	 
	 	<div class= 'row'>
	 		<div class = col-md-12>s
	 			<header class="header">
	 			<h3> Mars Hemispheres</h3>
	 			</header>
	 				<div class = 'row'>
	 					<div class = 'col-md-6'>
	 						<img src="{{mars_info.hemisphere_img_urls[0]}}" alt="hemisphere_img_0">
	 					</div>

	 					<div class= 'col-md-6'>
	 						<img src="{{mars_info.hemisphere_img_urls[1]}}" alt="hemisphere_img_1">
	 					</div>
	 				</div>
	 				<div class = 'row'>
	 					<div class = 'col-md-6'>
	 						<img src="{{mars_info.hemisphere_img_urls[2]}}" alt="hemisphere_img_2">
	 					</div>

	 					<div class = 'col-md-6'>
	 						<img src="{{mars_info.hemisphere_img_urls[3]}}" alt="hemisphere_img_3">
	 					</div>
	 				</div>
	 		</div>
	 	</div>
</body>
</html>