<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
    <title>Mars_Info</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!--   <link rel="stylesheet" href="../Assets/html_style.css"> -->
  <link rel="stylesheet" type= "text/css" href= "{{ url_for ('static', filename='styles/html_style.css')}}">

</head>
<body>
	<div class= 'container-fluid'>
		<div class= "row" style="background-color: black; font: white;">
			<div class= 'jumbotron text-center'>
				<header class="header" style="text-align: center;">
				<h5> Mission to Mars</h5>
				</header>
				<p><a class="btn btn-primary btn-lg" href="/scrape" role="button" style= "text-align:center; background-color:black; font: white;">Get Mars Data!</a></p> 
			</div>
		</div>
	</div>


	<div class= "container-fluid">
		<div class = 'row' style="background-color:black; font: white;">
			<div class= 'col-md-6'>
				<h2> Latest Mars News:</h2>
				<h3>{{mars_info.news_title}}</h3>
				<a>{{mars_info.news_p}}</a>

			</div>

			<div class="col-md-6 text-center">
				<img src="../static/mars_color.jpeg" style="width: 200px; height: 200px;">
				<img src="../static/mars_life.jpg" style="width: 200px; height: 200px;">
				<img src="../static/mars_life_2.jpeg" style="width: 200px; height: 200px;">
			</div>
		</div>
		<div class = 'row' style="background-color:black; font: white;">
			<div class= "col-md-12">
				<div class= "row">
					<div class= "col-md-7">
						<header class="header">
							<h6> Featured Mars Image</h6>
						</header>
						<img src="{{mars_info.image_tag}}" class= 'img-responsive' alt='featured_img'>
					</div>
				</div>
				<div class= 'row'>
	 				<div class = col-md-5>
	 					<header class="header">
	 					<h2> Mars Facts</h2>
	 					</header>
	 					<table class= "table">
	 						{{mars_info.mars_facts | safe}}
	 					</table>
	 				</div>
	 			</div>
	 		</div>
	 	</div>
	 
	 	<div class= 'row'>
	 		<div class = col-md-12>
	 			<header class="header">
	 			<h3> Mars Hemispheres</h3>
	 			</header>
	 				<div class = 'row'>
	 					<div class = 'col-md-6'>
	 						<div class= "box box-1">
	 							<img src="{{mars_info.hemispheres[0].img_url}}" class= 'img-responsive' alt="hemisphere_img_0">
	 							<p><em>Cerberus Hemisphere Enhanced</em></p>
	 						</div>
	 					</div>

	 					<div class= 'col-md-6'>
	 						<div class= "box box-1">
	 							<img src="{{mars_info.hemispheres[1].img_url}}" class= 'img-responsive' alt="hemisphere_img_1">
	 							<p><em>Schiaparelli Hemisphere Enhanced</em></p>
	 						</div>
	 					</div>
	 				</div>
	 				
	 				<div class = 'row'>
	 					<div class = 'col-md-6'>
	 						<div class = "box box-1">
	 							<img src="{{mars_info.hemispheres[2].img_url}}" class= 'img-responsive' alt="hemisphere_img_2">
	 							<p><em>Syrtis Major Hemisphere Enhanced</em></p>
	 						</div>
	 					</div>

	 					<div class = 'col-sm-6'>
	 						<div class = "box box-1">
	 							<img src="{{mars_info.hemispheres[3].img_url}}" class= 'img-responsive' alt="hemisphere_img_3">
	 							<p><em>Valles Marineris Hemisphere Enhanced</em></p>
	 						</div>
	 					</div>
	 				</div>
	 		</div>
	 	</div>
</body>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>

</html>